*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-image: url(./background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'IBM Plex Sans', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.multiple1{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-right: auto;
    
    margin-top: 30px;
}
.multiple2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    
}
.all{
    width: 350px;
    margin: auto;
    
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0,0.8);
}
.header{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
section{
    width: 95vw;
    height: auto;
    background-color: rgba(0, 0, 0,0.4);
    margin: 1.25rem 2rem;
}
.logo{
    width: 100px;
    margin-top: 10px;
}
.name-section{
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
.name-section input,select{
    height: 40px;
    color: black;
}
option{
    color: black;
}
::placeholder{
    color: black;
}
.submit{
    width: 100px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0.5rem auto 1px auto;

}
textarea{
    resize: none;
    height: 75px;
    color: black;
}